<div>
  <div class="gap-2 flex">
    <input
      placeholder="Name"
      class="border w-32 rounded py-2 px-2 outline-none"
      type="text"
      [(ngModel)]="studentName"
    />
    <select
      [(ngModel)]="selectedClassId"
      class="border w-32 rounded py-2 outline-none"
      name=""
      id=""
    >
      <option value="" disabled selected>Classes</option>
      <option
        [value]="classe.id"
        *ngFor="let classe of classes"
        class="text-sm"
      >
        G{{ classe.numero }}
      </option>
    </select>
    <button
      class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-400"
      (click)="Submit()"
    >
      Ajouter
    </button>
  </div>
  <nz-table class="mt-3" #basicTable [nzData]="etudiants">
    <thead>
      <tr>
        <th>Name</th>
        <th>Classe</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>G{{ data.classe.numero }}</td>
        <td>
          <a>Action</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
